article{display: flex ;
    margin-left:19px;
justify-content: space-around;
align-content:space-around;
    flex-direction: row;
}
section{background-color: green;
    border-radius: 5px;
    padding: 30px;
}