header{background: url(biilder/pizza\ hut.jpg);
padding: 150px;
background-size: cover;}
nav a{
padding: 20px;
display: inline-block;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
background-color: brown;
color: orange;

}
a{text-align: center;}
nav{
background:  brown;

}
body{background-color: orange;
margin: 0;}
main{
color: brown;
font-weight: bold;

text-align: center;

}
img{border-radius:30px ;
width: 50%;}
footer{
margin-top: 250px;
margin-left: 20px;
font-size: 19px;
}
nav{text-align: center;}