body{
    margin: 0;
    background: yellow;
}
header{background: url(biilder/scoops.jpg);
padding: 100px;
background-size: cover;}

nav a{
padding: 10px;
display: inline-block;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
background-color: brown;
color: snow;
}
nav{
background:  brown;

}
nav a:hover{
background-color: snow;
color: snow;
}
main{padding-left: 10px ;}

h1{
font: 30px verdana;
font-weight:bold ;

}
p{
font-family:'Times New Roman', Times, serif ;

}
main{color: brown;}

img{border-radius: 30px;}
#ice{width: 20%;}

footer{
margin-top: 250px;
margin-left: 20px;
font-size: 19px;
}