header{background-color:red;
padding-top: 1px;
padding-bottom: 4px;}
body{margin: 0;
background: gold;}

h1{padding-left: 8px;
font-style: italic;
font-size: 50px;
color: bisque;}
h3{padding-left: 8px;
font-style: italic;
font-size: 20px;
color: bisque;}
main{background-color: white;
margin-left: 4%;
margin-right: 4%;}
img{width: 400px;
display: block;
margin: auto;}
p{padding-left: 4px;
padding-right: 2px;}
h2{font-style: italic;}
ol{padding-bottom: 6px;}
footer{background-color: brown;
margin-top: 20px;}
 h5{display: block;
margin: auto;
padding-left: 400px;
}
h4{padding-left: 400px;
}