header{
background-color: ;
width: ;
color: red;
text-align: center;
padding: 50px;


}
img{border-radius: 30px;}
nav a {
    color: black;
text-decoration: none;
padding: 12px;
display: inline-flex;

background: white;



}
nav{background-color: white;
text-align: center;}

main{display: flex;}
body{background-color: black;}
a{ flex: 1;
}
article{
    flex: 2 ;
    background:white;

}

