@charset "UTF-8";
body{
    margin: 0;
}
main{
display: flex;
}

header{ background: #444;
color: #fc3
;text-align: center;
padding: 20px;}

article, aside{
border: 4px solid transparent;


}
h1{color: fc3;
font-weight: normal;
margin: 0
;text-transform: uppercase;}

h3{margin:10px 0 0 0;
;

}

nav{
background: #555;

}
nav a{
    color: #fc3;
text-decoration: none;
padding: 10px;
display: inline-flex;
align-items: center;
background: #444;
}
nav a:hover{background: #555;}
nav a span{
margin-right: 10px;
color: greenyellow;
}
article, aside{
padding: 10px;

}
article{
    flex: 2;
    background:#eee;
}

.ninja{
font-size: 10px;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}


ARTICLE span{border: 1px solid #fc3;
border-radius: 4px;
padding: 4px;}
aside{
    flex: 1;
}





footer{
display: flex;
}

section{
flex: 1;
padding: 14px;
}

footer{
    background: #444;

color: white;
padding: 20px;
padding: 10px;
margin-top: 350px;
}

h4{color: #fc3;
margin: 0;}

#venedig{
background: url("bilder/venedig.jpg");
background-size: cover;
padding: 80px 8px 8px 8px;
}

#venedig section{
background: rgba(0,0,0,.5);
padding: 11px;
color: white;
}

h5{
    margin: 0;



}

#venedig section{
margin: 0;

}

#sangimignano{
background: url("bilder/sangimignano.jpg");
background-size: cover;
padding: 80px 8px 8px 8px;
margin-top: 12px;
}

#sangimignano section{

    background: rgba(0,0,0,.4);
padding: 11px;
color: white;
}
h5{margin: 0;}